@charset "UTF8";

* {
font-family: Arial, Helvetica, sans-serif;        
}

body {
    background-image: linear-gradient(to right, #4a4a4a, rgb(32, 32, 32));
}
main {
   background-color: #ffffff;
   border-radius: 20px;
   box-shadow:5px 5px 15px rgb(136, 109,  93) ;
   width: 600px ;
   padding: 10px;
   margin: auto;
}

h1  {
color: #4a4a4a;
text-align: center;
text-shadow: 1px 1px 2px #834f0781 ;

}

h2 {
color: #125189;
}

p {
    text-align: justify;
}